@import "main";

.login-wrapper {
  background-color: lightcoral;
  display: block;
  height: 100vh;
  position: relative;
  width: 100vw;

  > .form {
    background-color: #fff;
    border: solid 1px #e5e5e5;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    padding: 1.3rem;
    text-align: center;
    width: 100%;


    > .brand {
      margin-bottom: 1rem;
      width: 50%;
    }

    @include respond-to(medium-wide-screens) {
      height: auto;
      margin: 1rem;
      width: 450px;
    }
  }

  > .lang {
    border: solid 1px #fff;
    display: flex;
    padding: .3rem;
    position: absolute;
    right: 0;
    margin: .5rem;
    align-items: center;
    background-color: #007BFF;

    > .langitem {
      color: #fff;
      font-weight: bold;
      line-height: 1;
      text-decoration: none;
      cursor: pointer;
    }

    > .separator {
      height: 1rem;
      border-left: solid 2px #fff;
      margin: 0 4px;
    }
  }
}
